body {
    @media screen and (max-width:439px) {
        display: block;
        background-color: aqua;

    }

    @media screen and (min-width:440px) {
        display: flex;
        background-color: chartreuse;

    }
}

ul{
  list-style:none;

}
a{
    text-decoration: none;
}
section{
    padding: 10px;
}