.left{
background-color: $left--head;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-right: 20px;
}
.head{
    align-items: center;
    justify-content: center;
    
}

.head--name{

    color:$bgc--rigth;
}
.data{
    color: $bgc--rigth;
    
    &--list{
        color: $bgc--rigth;
    }
}
.data--link{
    color: $bgc--rigth;
    display: block;
}

   
