.left{
background-color: $left--head;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-right: 20px;
}
.left--name{

    align-items: center;

    color:$bgc--rigth;
}
.left--head{
   
}
   
   
